<!DOCTYPE html>
<html>
<head>
    <title>Add Money</title>
     <style>
        /* CSS to display "Number" and "ISO" inputs on the same line */
        .input-container {
            display: flex;
            align-items: center;
        }

        .input-container input {
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <h1>Add Money</h1>
    <img src="/static/{{theid}}.png" alt="">
    <form method="POST" action="/add-money">
        <a href="/deposit" id="Previous">Choose Payement Methode</a>

        <label hidden for="payment_method">Payment Method:</label>
        <input hidden type="text" name="payment_method" value="{{theid}}" required><br>

        <label for="amount">Amount:</label>
        <input type="number" name="amount" step="0.01" value="200" required><br>

        <label for="currency">Currency:</label>
        <input type="text" name="currency" value="XOF" required><br>

        <label for="country">Country:</label>
        <input type="text" name="country"  readonly value="{{iso}}"><br>

        <label for="customer">Customer:</label>
        <input type="text" name="customer" value="" required><br>
  <div class="input-container">
            <label for="number">Number:</label>
            <input type="text" size="3" maxlength="3" readonly name="iso" value="{{dc}}">
            <input type="text" name="number" maxlength="10" value="">
        </div>
        <label for="agent_id">Agent ID:</label>
        <input type="number" name="agent_id"><br>

        <label for="agent_in_hand">Agent In Hand:</label>
        <input type="checkbox" name="agent_in_hand"><br>

        <label for="return_url">Return URL:</label>
        <input type="text" name="return_url"><br>

        <label for="cancel_url">Cancel URL:</label>
        <input type="text" name="cancel_url"><br>

        <input type="submit" value="Add Money">
    </form>
</body>
</html>
